<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sweak.smartalarm">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/smart_alarm_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/smart_alarm_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAlarm">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LockScreenActivity"
            android:showWhenLocked="true"
            android:showOnLockScreen="true"
            android:excludeFromRecents="true" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.ScanActivity" />

        <service
            android:name=".service.AlarmService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receiver.SnoozeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.sweak.smartalarm.ACTION_SNOOZE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ShutdownReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>